.block-choose-div{
    background: #66A1FF;
    border-radius: 15px;
    padding: 10px;
}

.block-choose-div label{
    font-size: large;
    color: coral;
}
.generator{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    margin-top: 10px;
    background: rgba(0, 20, 51, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.gen_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0, 39, 102, 0.6);
    width: 100%;
    padding: 25px 0px;
}

.gen_header p{
    /* font-family: 'Lexend'; */
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    display: flex;
    align-items: center;

    color: #FF7A33;    
}

.gradiant-choose-div{
   background-color: rgb(46, 119, 161);
   border-radius: 30px; 
   padding: 10px;
}

.load_image_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    background: #002766;
    border-radius: 30px;
    color: white;
    width: 70%;
}

.gradiant-select option{
    font-size: large;
    color: coral;
}

.gradiant{
    background-color: lightslategray;
    border-radius: 30px;
    padding: 10px;
}
.url-input{
    font-size: 20px;
    line-height: 25px;
    padding: 20px;
    width: 70%;
    margin-bottom: 30px;
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    background: rgba(51, 129, 255, 0.4);
}

.url-input:focus{
    background-color: rgba(61, 139, 255, 0.4);
    border: none;
}

.url-input::-webkit-input-placeholder{
    color: #ced0e6;
}

.colors{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    color: #FFFFFF;
    font-size: 20px;


}
.photo-url{
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    background: rgb(255, 124, 53);
    width: 70%;
}
.type-qr p{
    font-size: 20px;
    color: #FFFFFF;
    margin: 10px;
    margin-top: 20px;

}
.create{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    background: #CC4700;
    border-radius: 30px;
    
    font-size: 36px;
    line-height: 45px;
    color: white;
}
.create:hover{
    background: #0b3880;
}
.create:active{
    background: #001b47;
}
#img-tag{
    width: 60%;
}

.create_form{
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 30px 0px;
    gap: 30px;
}

.right-settings-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;    
    background: #003B99;
    border-radius: 27px;
    width: 90%;
}

.for-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}