.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
    gap: 4px;

    width: 313px;
    height: 366px;

    background: #FFBD99;
    border-radius: 30px;
}
.upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px 0px;
    gap: 12px;

    width: 239px;
    height: 250px;
    border-bottom: 10px solid;

    border-image-source: linear-gradient(90.57deg, #3381FF 0.03%, #FF5900 99.92%);



}
.upper button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 15px;
    gap: 10px;

    width: 146px;
    height: 60px;

    /* CSK - #0062FF/400

    CSK - #0062FF/400
    */
    background: #3381FF;
    border-radius: 20px;

}
.upper button text{
    width: 116px;
    height: 40px;

    /* article 32 bold */

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */


    color: #FFFFFF;
}
.type{
    width: 225px;
    height: 45px;

    /* article 36 bold */

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */


    /* CSK - #FF5900/600 */

    color: #CC4700;
}
.price{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    

    color: #000000;
}
.lower{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 40px;
    gap: 5px;

    width: 253px;
    height: 112px;
}
.dynamic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 7px;
    gap: 12px;

    width: 173px;
    height: 38px;
}