@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
body{
    font-family: 'Lexend', sans-serif;
}
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
    gap: 4px;

    width: 313px;
    height: 366px;

    background: #FFBD99;
    border-radius: 30px;
}
.upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px 0px;
    gap: 12px;
    width: 239px;
    height: 250px;
    border-bottom: 2px solid;
    border-color: #CC4700;
}

.upper button{
    text-decoration: none;
    border: none;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    gap: 10px;
    width: 146px;
    height: 60px;
    background-color: #3381FF;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: white;
}
.buy{
    text-decoration: none;
}

.upper button:hover{
    background-color: #0062ff;
}
.type{
    height: 45px;
    /* article 36 bold */
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #CC4700;
}
.price{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    

    color: #000000;
}
.lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 40px;
    gap: 5px;

    width: 253px;
    height: 112px;
}
.dynamic{
    display: flex;
    flex-direction: row;
    justify-content: left ;
    align-items: center;
    padding: 4px 7px;
    gap: 12px;
    
    width: 174px;
    height: 38px;
}
.value{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 5px 33.5px; */
    gap: 10px;

    width: 74px;
    height: 25px;

    /* CSK - #FF5900/300

    CSK - #FF5900/300
    */
    background: #FF9C66;
    border-radius: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 20px 40px;
    gap: 43px;

    /* width: 724px; */
    /* height: 459px; */

    background: rgba(0, 20, 51, 0.15);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 50px;
}
.reg-label{
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */


    /* CSK - #0062FF/400 */

    color: #FF9C66;

}
.log-label{
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */


    /* CSK - #0062FF/400 */

    color: #3381FF;

}
.reg-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    gap: 10px;
    border: none;
    width: 650px;
    height: 73px;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
    background: rgba(255, 156, 102, 0.4);
    border-radius: 30px;
}
.reg-input::placeholder{
    /* article 36 bold */
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}
.reg-input::placeholder:active{
    border: none;
}

.log-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    gap: 10px;

    width: 644px;
    height: 73px;
    border: none;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
    background: rgba(0, 39, 102, 0.4);
    border-radius: 30px;
}
.log-input::placeholder{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}
.submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 33px;
    gap: 10px;

    width: 658px;
    height: 75px;
}
.log-in{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-size: 50px;
    font-weight: 700;
    width: 258px;
    height: 75px;
    background: rgba(0, 39, 102, 0.6);
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    line-height: 62px;
}
.log-in:hover{
    background-color: rgba(0, 33, 87, 0.6);
}
.sign-up:hover{
    background: rgba(255, 122, 51, 0.6);
}
.dont-have{
    border: none;
    background: none;
    height: 40px;

    /* article 32 bold */

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: white;
    text-decoration: none;
}

.error_text{
    color: #CC4700;
}

.sign-up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 232px;
    height: 80px;

    background: rgba(255, 156, 102, 0.6);
    border-radius: 30px;
    border: none;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    /* identical to box height */


    color: #FFFFFF;
}

.have{
    height: 40px;

    /* article 32 bold */

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */


    color: #FFFFFF;
    text-decoration: none;
}

 /* .profile:hover::after {
    position: absolute;
    content: attr(data-tooltip);
    left: 561px;
    top: 60px;
    right: 50px;
    height: 50px;
    width: 25px;
    background: none;
    transform: translateX(-50%);
    color: palegreen;

}  */

.log-out{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */


    color: #FFFFFF;
    text-decoration: none;
    width: 258px;
    height: 75px;

    background: rgba(0, 39, 102, 0.6);
    border-radius: 30px;
    }

