{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="menu">
        <p></p>
        <div class="plan">
            <div class="upper">
                <p class="type">Professional</p>
                <p class="price">50,50$/month</p>
                <button class="">GET IT</button>
            </div>
            <div class="lower">
                <div class="dynamic">
                    <div class="value">250</div>
                    <p>Dynamic QR Codes</p>
                </div>
                <div class="dynamic">
                    <div class="value">∞</div>
                    <p>Scans</p>
                </div>
            </div>
        </div>
        <div class="plan">
            <div class="upper">
                <p class="type">Professional</p>
                <p class="price">50,50$/month</p>
                <button class="">GET IT</button>
            </div>
            <div class="lower">
                <div class="dynamic">
                    <div class="value">250</div>
                    <p>Dynamic QR Codes</p>
                </div>
                <div class="dynamic">
                    <div class="value">∞</div>
                    <p>Scans</p>
                </div>
            </div>
        </div>
        <div class="plan">
            <div class="upper">
                <p class="type">Professional</p>
                <p class="price">50,50$/month</p>
                <button class="">GET IT</button>
            </div>
            <div class="lower">
                <div class="dynamic">
                    <div class="value">250</div>
                    <p>Dynamic QR Codes</p>
                </div>
                <div class="dynamic">
                    <div class="value">∞</div>
                    <p>Scans</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}